* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --main-color: #0d396a;
  --text-color: #f9a826;
  --description: #394a60;
}

body {
  overflow-x: hidden;
  background-color: #ffff;
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  direction: ltr;
}
/* ///global///// */
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.orang{
  color: #f9a826;
}
h1, h2, h3, h4, h5, h6 {
  color: var(--main-color);
}
.title-size{
  font-size: 60px;
}
.btn button{
  outline: none;
  background-color:var(--main-color);
  color: #fff;
  padding: 14px 30px;
  
  border: none;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
p {
  color: var(--description);
}
.lin-hight{
  line-height: 1.5;
}
.lin-hight-2{
  line-height: 2;
}
.padding-Section{
  padding: 30px 0;
}
/* ///gobla///// */
/* ///start hero and nav/////////// */
.navbar-nav .nav-item a{
  margin: 0 20px;
  font-size: 22px;
  font-weight: 500;
  color: black;
}
.navbar-nav .nav-item a:hover{
  color: #f9a826;
}
.active{
  color: #f9a826;
  border-bottom: 2px solid #f9a826;
  width: fit-content;
}
/* ///end hero and nav/////////// */
/* /// start Why Choose/////////// */
.point{
  background-color: #f8f8fa;
  padding: 14px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.num{
  width: 40px;
  /* height: 32px; */
  border: 1px solid #dddd;
  border-radius: 50%;
 
 
}
/* ///end why choose/////////// */
.service-box{
  padding: 10px;
}
.service-icon{
  width: 85px;
  height: 85px;
  background-color: #f0f0f0;
  border-radius: 50%;
  animation: heartbeat 3s infinite; 

}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.05); 
  }
  60% {
    transform: scale(1); 
  }
  100% {
    transform: scale(1.05); 
  }
}
.service-icon img{
  max-width: 50px;
  margin: auto;
}
.service-text h2{
  font-size: 26px;
}
.service-text p{
  margin-top: 15px;
}

/* ///end service/////////// */
/* ///start footer////// */
footer{
  background-color: #114A8F;
  padding: 10px 0;
}
.links-footer a:hover{
color: #f9a826 !important;
}
/* ///end footer////// */
/* //media screen///////////// */
@media (max-width:477px) {
  .logo{
    max-width: 70px;
  }
  .navbar-nav{
    align-items: center;
  }
  .service-icon {
    margin: auto;
}
.service-text{
  text-align: center;
}
.gif{
  display: none;
}
.box-point{
  flex-direction: column;
}
.text-point{
  font-size: 14px;
}
.Why{
  flex-direction: column;
  margin-bottom: 10px;
}
.links-footer{
  flex-direction: column-reverse;
  gap: 10px;
}
}
@media (max-width:799px) {
  .gif{
    display: none;
  }
}
@media (max-width:992px) {
  .gif{
    display: none;
  }
}
/* //media screen///////////// */
